
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form>
        <input type="text" placeholder="Kullanici Adi" required />
        <input type="text" placeholder="Mail Adresi" required />
        <input type="text" placeholder="Telefonu" required />
        <textarea placeholder="Yorum"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>